.active {
    color:white;
    box-sizing: border-box;
    cursor: pointer;
    /* margin-left: 120px; */
}

.postsId {
    color:brown;
    margin-left: 140px
}

.postsTitle {
    color:chartreuse;
    box-sizing: border-box;
    margin-left: 140px
}

.postsBody {
    color: yellow;
    box-sizing: border-box;
    margin-left: 140px
}

