.texts {
    padding-left: 39rem;    
}

.button {
    color: #D919FF;
    border-radius: 50px;
    width: 11.6rem;
    height: 2rem;
    font-size: 1rem;
    background-color: #00394d;
    border-color: #D919FF;
}