.comment {
    color: azure
}

.likes {
    color:chartreuse
}

.avatar {
    width: 4rem;
    height: 4rem;
    box-sizing: border-box;
    border-radius: 4rem;
    box-shadow: 5px 5px 5px 2px blue;
}

.commentSection {
    margin-left: 15rem;
    margin-bottom: 1rem;
}