.navBar {
    grid-area: n;
    display: flex;
    position: absolute;
    justify-self: center;
    padding-top: 80px;
    text-indent: 160px;
    font-size: 1.5rem;
}

.item {
    color: white
}

.active {
    color: #00bbff
}

